<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CROISSANT</title>
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{css/mystyle.css}">
    <link href="https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div layout:fragment="content" class="container">
    <center>
        <div class="jumbotron">
            <img src="images/Croissant1.jpg" width="25%">
            <br>
            <br>
            <h4>BLUEBERRY CHEESEPIE CROISSANT</h4>
            <br>1 ชิ้น 80 กรัม ราคา 100 ฿</br>
        </div>
        <div class="jumbotron">
            <img src="images/Croissant2.jpg" width="25%">
            <br>
            <br>
            <h4>SALTED EGG YOLK CROISSANT</h4>
            <br>1 ชิ้น 80 กรัม ราคา 100 ฿</br>
        </div>
        <div class="jumbotron">
            <img src="images/Croissant3.jpg" width="25%">
            <br>
            <br>
            <h4>MATCHA LATTE CROISSANT</h4>
            <br>1 ชิ้น 80 กรัม ราคา 99 ฿</br>
        </div>
        <div class="jumbotron">
            <img src="images/Croissant4.jpg" width="25%">
            <br>
            <br>
            <h4>FRENCH BUTTER CROISSANT</h4>
            <br>1 ชิ้น 80 กรัม ราคา 49 ฿</br>
        </div>
        <div class="jumbotron">
            <img src="images/croissant5.jpg" width="25%">
            <br>
            <br>
            <h4>DELICIOUS ALMOND CROISSAND</h4>
            <br>1 ชิ้น 100 กรัม ราคา 89 ฿</br>
        </div>
    </center>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>
